<section class="uk-section">

    <div class="uk-margin">
        <form class="uk-search uk-search-default uk-width-1-1"
              action="/misformularios">
            <span uk-search-icon></span>
            <input class="uk-search-input"
                   name="criterio"
                   type="search" placeholder="Buscar...">
        </form>
    </div>

    <div class="uk-container">
        <div class="uk-overflow-auto">
            <table class="uk-table uk-table-hover uk-table-middle uk-table-divider">
                <thead>
                <tr>
                    <th class="uk-table-expand">Titulo</th>
                    <th class="uk-width-small">Descripción</th>
                    <th class="uk-width-small">Enlace para compartir</th>
                    <th class="uk-width-small">Opciones</th>
                </tr>
                </thead>
                <tbody>
                {{#each formularios}}
                <tr>
                    <td >{{ title }}</td>
                    <td >{{ description }}

                   <td>
                    {{#if activado}}
                      <strong>http://localhost:8080/formulario/{{ _id }}</strong>
                    {{/if}}
                </td>

                    <td>

                        {{#if activado}}
                        <a class="uk-link" href="/modificar/{{_id}}">Desactivar</a>
                        {{else}}
                        <a class="uk-link" href="/modificar/{{_id}}">Activar</a>
                        {{/if}}

                        <br>



                    </td>
                </tr>
                {{/each}}
                </tbody>
            </table>
        </div>

        <ul class="uk-pagination uk-flex-center" uk-margin>
            <li><a href="#"><span uk-pagination-previous></span></a></li>
            <li><a class="uk-active" href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#"><span uk-pagination-next></span></a></li>
        </ul>
    </div>
</section>
